<a href="{% url 'create_expense' %}">create</a>
    {% for expense in expenses %}
        <h1>{{ expense.id }}</h1>
        <p>{{ expense.date }}</p>
        <p>{{ expense.amount }}</p>
        <p>{{ expense.category }}</p>
        <p>{{ expense.account }}</p>
        <p>{{ expense.payee }}</p>
        <p>{{ expense.note }}</p>
        <a href="{% url 'get_expense' expense.id %}">get</a>
        <a href="{% url 'update_expense' expense.id %}">update</a>
        <a href="{% url 'delete_expense' expense.id %}">delete</a>
    {% endfor %}